<div class="px-4">
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Recargas</a>
      <form class="d-flex" role="search" [formGroup]="promoterForm">
        <input class="form-control me-2" type="search" placeholder="Promotor" aria-label="Promotor" formControlName="id">
        <button class="btn btn-outline-success" type="bottom" (click)="searchPromoter()">Buscar</button>
      </form>
    </div>
  </nav>
  <br>
  <div class="card">
    <h3 class="card-header">{{promoter?.name}}</h3>
    <div class="card-body">
      <app-main-card></app-main-card>
    </div>
  </div>
</div>
